.tab-background {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0px 0px !important;
  background-color: color-mix(in srgb, currentColor 7%, transparent); /*Change currentColor value to tweak background tab shade*/
}

.tabbrowser-tab[selected=true] .tab-background ,
.tabbrowser-tab[multiselected=true] .tab-background {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: var(--toolbar-bgimage) !important;
}

.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
}

